#root {
  margin: 0;
  border: 0;
  padding: 0;
  min-height: 100vh;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/af2fb22119822.582df3e034288.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
 
}

html {
  margin: 0;
  padding: 0;
  /* border: 0.01em solid rgba(13,110,253, 1); */
  background-color:  rgba(13,110,253, 0.7);
  outline: none;
  box-shadow:  0 0 20px 1px rgba(255, 255, 255, 0.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



tr > td {
  text-align: left;
  padding: 10px 10px ;
  justify-content: center;
  width: 800px;
  border: 1px solid black;
  background-color: rgba(13,110,253, 0.3);

}

tr:hover {
  opacity: 50%;
}

.form-control {
  margin-top: 5px;
}

.container {
  margin-top: 20px;
}

.primary-color {
  background-color:  rgba(13,110,253, 1) !important;
}

#balance {
  justify-content: right;
  disp5lay: flex;
  
}

.card-title {
  display: inline;
  text-align: center;
  justify-content: center;
  float: left;
}

.card {
  border-radius: 4px;
  box-shadow: 4px 4px 4px gray;
  border: 1px solid black;
  
}

.card-header {
  display: inline;
  text-align: center;
  justify-content: center;
  float: left;
}

.card-body {
  background-color: rgb(214, 214, 214);
  text-align: left;
  width: 100%;
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /* float: left; */
  
}

.card-balance {
  display: flex;
  float: right;
}



#bankPic {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 180px;
  width: 250px;
}

#ATMsubmit {
  color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 50px 0px 20px 0px;
}

#ATMsubmit:disabled {
  color:rgba(0,0,0, 0.4);;
  background-color: rgba(255,255,255, 0.4);
  border: 1px solid rgba(255,255,255, 0.2);
}

#ATMsubmit:hover {
  background-color: rgba(13,110,253, 0.33);
  border: 1px solid rgba(13,110,253, 0.77);
}

.shadow {
  /* box-sizing: border-box; */
  text-shadow: 1px 1px 0px rgba(126, 126, 126, 0.5);
  
}


#createStatus {
  color: red;
}



.footer {

  background-color: rgba(13,110,253, 1);
  font-size: xx-small;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.slideHighlight {
  box-shadow: inset 0 0 0 0 rgba(13,110,253, 0.9);
  margin: 0;
  padding: 0;
  transition: color 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
}
.slideHighlight:hover {
  box-shadow: inset  0  0 200px 0  rgba(13,110,253, 0.3);
  margin: 0;
  padding: 0;
  background-color: rgba(13,110,253, 0.33);
}

/* .slideHighlight.active {
  box-shadow: inset 300px 0 0 0  rgba(13,110,253, 0.45);
  margin: 0;
  padding: 0;
} */

/* .navbar-nav {
  border: 0;
  margin: 0;
  padding: 0;
} */

a.nav-link, a.navbar-brand {
  outline: none;
  /* inset: 0px 0px 20px 10px rgba(0,0,0,1); */
  padding: 0;
  width: 250px;
  height: 40px;
  margin: 0 auto;
  transition: transform .2s; /* Animation
  /* border: 1px solid  rgba(13,110,253, 0.3);; */
  display: flex;
  align-items: center;
  justify-content: center;
}


 .nav-link.active{
  
  background-color: rgba(13,110,253, 1);
  margin: 0;
  padding: 0;
  text-decoration: underline;
} 


/* 
BRAND ICON 
NAVBAR GRID

*/