body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


tr > td {
  width: 400px;
  background-color: rgba(13,110,253, 0.3);
  border: 1px solid black
}

/* tr {
  background-color: rgba(13,110,253, 1);
  border: 1px solid black;
} */



tr:hover {
  opacity: 50%;
}



#balance {
  justify-content: right;
  display: flex;
  background-color: red;
}

.card-title {
  display: inline;
  text-align: center;
  justify-content: center;
  float: left;
}

.card-balance {
  display: flex;
  float: right;
}

.container {
  margin-left:50px ;
}


/* li > a.active, a:hover {
  background-color: green;
  color: white;
  border-radius: 5%;
} */

.nav-link.active {
  background-color: rgba(13,110,253, 0.9);
  border-radius: 5%;
  border: 1px solid rgba(13,110,253, 0.75);
}

.nav-link:hover {
  background-color: rgba(13,110,253, 0.6);
  border: 1px solid rgba(13,110,253, 0.45);
  border-radius: 5%;
}

#ATMsubmit {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 50px 0px 20px 0px;
}

#bankPic {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 180px;
  width: 250px;
}